* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.pattern {
    width: 100%;
    background: rgb(93, 161, 248);
    background-image: url(img/pattern.png);
    background-size: 40%;
}

.pattern img {
    width: 300px;
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.container {
    width: 99%;
    height: 500px;
    margin: auto;
}

.title {
    width: 90%;
    margin-top: 20px;
}

#first-title {
    font-size: 23px;
}

#second-title {
    color: grey;
}

#second-title span {
    color: rgb(93, 161, 248);
}

#picture-1 {
    width: 650px;
}

#picture-2 {
    width: 556px;;
}

.content {
    font-size: 19px;
}

#highlighted {
    background: yellow;
}

ul {
    margin-left: 20px;
}
